* {
    margin: 0; /* margin externa */
    padding: 0; /* margem interna */
}

#header {
    background-color:#C71585;
    width: 100%;
    position: fixed; /* posição fixa */
    top: 0; /* faz o menu ficar fixado no topo */
    color: #ffffff;
}

#logo {
    text-align: center;
    padding-top: 20px;
    font-family: 'Madimi One', 'Tahome';
    font-size: 3vw; /* maior que o padrão - view width (horizontal) */
}

#menu {
    width: 100%;
    text-align: center;
    padding: 20px 0;
}

#menu li {
    list-style-type: none;
    display: inline;
    cursor: pointer;
    padding: 1%;
}

#menu li:hover { /* toda vez que passar o mouse no menu faça tal coisa */
    /* background-color: #8B008B; */
    padding-bottom: 0.4rem;
    border-bottom: 0.3rem solid #8B008B;
    font-weight: bold;
}

#menu, #content {
    font-family: 'Roboto';
}

#content {
    padding-top: 150px; 
    width: 90%;
    margin: 0 auto; /* alinhar elementos não textuais no centro */
}

#content p:first-child { /* pega o primeiro item dentro do elemento identificado */
    text-align: center;
}

#content img {
    width: 60%;
}

#footer {
    background-color: #C71585;
    width: 100%;
    height: 50px;
}
